/* color palette from <https://github.com/vuejs/theme> */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Sansita-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/Sansita-Regular.ttf') format('woff2');
}

:root {
  --color-primary-100: #f7f7f7;
  --color-primary-200: #e2dfdf;
  --color-primary-300: #a5a2a2;
  --color-primary-500: #0c0c0c;

  --color-secondary-100: #f4eddf;
  --color-secondary-200: #d8cfb8;
  --color-secondary-300: #d8cfb8;
  --color-secondary-400: #b6976b;
  --color-secondary-500: #28343a;
  --color-secondary-600: #bfb7a3;
}

body {
  color: #000000;
}
